/Kotoba.xcodeproj/project.xcworkspace/xcuserdata/rafael.xcuserdatad/UserInterfaceState.xcuserstate
/build/
*~
intern-ios.xcodeproj/xcuserdata/rafael.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
intern-ios.xcodeproj/project.xcworkspace/xcuserdata/rafael.xcuserdatad/UserInterfaceState.xcuserstate