<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Intern.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>InternIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>InternIOSTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>UnitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>intern-ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>53543B8B14F71F5800326078</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>537D1C5114E9CEE400FAB625</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>537D1C7114E9CEF600FAB625</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>537D1C8914E9CF1400FAB625</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53B1E26B14FB0C98001C6160</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
